---
eleventyExcludeFromCollections: true
title: about me | the blog
---

{% extends "_includes/default.njk" %}


{% block content %}
    <h2>about me</h2>

    <p>Hi, i'm [...].</p>

    <h2 class="mt-4">about the blog</h2>

    <p>I created this blog to [...]</p>
{% endblock %}
